<% content_for :head do %> 
<!--script type="text/javascript">
  $(document).ready(function ($) {
    $('#url-container').perfectScrollbar();
  });
</script-->
<script type="text/javascript">
$('#pie').epoch({ type: 'pie', data: [
            {label: 'A', value: 20},
            {label: 'C', value: 35}
        ] });
</script>

<script type="text/javascript">
<!--


var pieChartData =  <%= raw @pie_chart_data.to_json %>;
var pieChart;
nv.addGraph(function() {
  pieChart = nv.models.pieChart()
                       .x(function(d) { return d.label + ' : ' + d.value })
                       .y(function(d) { return d.value })
                       .color(['#0075c2','#1aaf5d','#f2c500','#f45b00','#8e0000'])
                       .showLabels(false);
  d3.select("#data-source-chart-container svg")
    .datum(pieChartData)
    .transition().duration(1200)
    .call(pieChart);
  return pieChart;
});

$(function() {

$('#url-container').perfectScrollbar();

var svg = dimple.newSvg("#line-container", 600, 300),
    data = [],
    timeNow = new Date();

data.push({ "Series 1" : "Original", "Original" : 0, "Series 2" : "Collamine", "Collamine" : 0, "Time" : new Date(timeNow.getTime() - 10000).toString().split(" ")[4] });
data.push({ "Series 1" : "Original", "Original" : 0, "Series 2" : "Collamine", "Collamine" : 0, "Time" : new Date(timeNow.getTime() - 20000).toString().split(" ")[4] });

// Draw a standard chart using the aggregated data
var chart = new dimple.chart(svg, data);
var x = chart.addTimeAxis("x", "Time", "%H:%M:%S", "%H:%M:%S");
var y1 = chart.addMeasureAxis("y", "Original");
var y2 = chart.addMeasureAxis("y", "Collamine");

x.timePeriod = d3.time.seconds;
x.timeInterval = 10;
x.addOrderRule("Time");

var originalVal = 0, collamineVal = 0;

function updateData() {
	var time = new Date().toString().split(" ")[4];
	data.push({ "Series 1" : "Original", "Original" : originalVal, "Series 2" : "Collamine", "Collamine" : collamineVal, "Time" : time });
	originalVal = 0; collamineVal = 0;
	if (data.length > 4) { data.shift(); }
	return data;
}

chart.addSeries("Series 2", dimple.plot.line, [x, y2]);
chart.addSeries("Series 1", dimple.plot.line, [x, y1]);
chart.assignColor("Original", "#0075c2");
chart.assignColor("Collamine", "#1aaf5d");
chart.addLegend(60, 10, 500, 20, "right");
chart.draw();

setInterval(function() {
	chart.data = updateData();
	chart.draw(1200);
},10000);

function scrollTopTween(scrollTop) {
	return function() {
		var i = d3.interpolateNumber(this.scrollTop, scrollTop);
		return function(t) { this.scrollTop = i(t); };
	};
}

var primus = Primus.connect('ws://localhost:9002');

primus.on('open', function () {
  primus.on('data', function (json) {
  	var source = json.data[1].source;
    if (source == 'original') {
      originalVal += 1; if (pieChartData[0].label == 'Original') { pieChartData[0].value += 1; }
    } else if (source == 'collamine') {
      collamineVal += 1; if (pieChartData[1].label == 'Collamine') { pieChartData[1].value += 1; }
    }
    pieChart.update();
    var div = document.getElementById("url-container")
    div.innerHTML = div.innerHTML + "<p>" + json.data[1].url + "</p>";
    div.scrollTop = div.scrollHeight;
    $('#url-container').perfectScrollbar();
  });
});

});

</script>
<% end %>
<div id='container' ng-controller="MainCtrl">
    <div id='header'>
        <div id='logoContainer'>
            <h1>Ruby</h1>
            <h4>Collamine-Client</h4>
        </div>
        <div id='userDetail'>
            <div>
                <p><%= Time.now.strftime("%A, %d-%b-%Y") %> | <span id="clock"></span></p>
            </div>
        </div>
        <div></div>
    </div>
    <div class='border-bottom' id='content'>
			<div class='border-bottom'>
				<div class='chartCont border-right'></div>
				<div class='chartCont' id='line-container'></div>
			</div>
			<div>				
				<br/><div class='chartCont' id='url-container'></div>
			</div>
		</div>
    <div id='footer'>
        <p>Powered by Collamine</p>
    </div>
    <div id='pie'></div>
</div>